{
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "extends": ["react-app", "eslint:recommended", "plugin:react/recommended"]
}